<div class='footnote' id="<%= dom_id(@foot_note.translation) %>_footnotes">
  <div class="bg-info rounded-lg <%= @foot_note.language_name %>">
    <div class="alert alert-dismissible p-3" role="alert">
      <span class="text-primary ff-b h5"><%= _t('footnote') %></span>
      <a class="close" id='close-footnote' data-dismiss="alert" aria-label="Close">
        <i class="fa fa-times-circle"></i>
      </a>

      <div class="<%= @foot_note.language_name %>" data-controller="translation">
        <%= simple_format @foot_note.text.html_safe %>
      </div>
    </div>
  </div>
</div>
