<div id="<%= dom_id(@foot_note.resource) %>_footnotes">
  <div class="footnote rounded-lg <%= @foot_note.language_name %>">
    <div class="alert alert-dismissible p-3" role="alert">
      <span class="resource"><%= _t("footnote") %></span>
      <a class="text-info close" rel="tooltip" data-dismiss="alert" aria-label="Close">
        <i class="fa fa-times-circle"></i>
      </a>

      <div class="<%= @foot_note.language_name %>" data-controller="translation">
        <%= simple_format @foot_note.text.html_safe %>
      </div>
    </div>
  </div>
</div>
