<% language, translations = translations %>

<p class="badge badge badge-primary">
  Found <%= translations.size %> results in <%= language %> translations
</p>

<% translations.each do |translation| %>
  <div class="translation <%= language %> mb-3" data-controller="translation">
    <%= translation[:text].html_safe %>
    <small class="d-block resource"><%= translation[:resource_name] %></small>

    <div id="footnote"></div>
  </div>
<% end %>
