<p class="badge badge badge-primary">Found <%= translations[:texts].length %> results in <%= translations[:language] %> translations</p>

<% translations[:texts].each do |translation| %>
  <div class="txt <%= translation[:language] %>" data-controller="translation">
    <span class="resource"><%= translation[:resource_name] %></span>
    <%= translation[:text].html_safe %>

    <div id="footnote"></div>
  </div>
<% end %>
