<% show_translations = @presenter.render_translations?(verse) %>

<div class="verse" id="<%= verse.id %>" data-verse-number="<%= verse.verse_number %>" data-controller="verse" data-key="<%= verse.verse_key %>">
  <div class="row">
    <div class="col-md-1 verse-actions text-center <%= show_translations ? 'col-2' : 'no-transaltion col-12' %>">
      <div class="actions">
        <span>
          <%= link_to verse.verse_key, "/#{verse.chapter_id}/#{verse.verse_number}#{@presenter.params_for_verse_link(verse)}", class: 'ayah-badge', target: :blank %>
         </span>
      </div>
    </div>

    <div class="col-11">
      <div class="arabic madani">
        <%= verse.highlighted_text.html_safe %>
      </div>
    </div>
  </div>

  <% if show_translations %>
    <div class="row translations">
      <div class="col-12">
        <div class="translation">
          <%= render partial: 'translation', collection: @presenter.load_translations(verse), as: :translations %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row d-flex justify-content-end row-border">
  <div class="col-md-11">
    <hr class="hr-border">
  </div>
</div>
