<header itemscope itemtype="https://schema.org/WPHeader" class="fixed justify-start items-center top-0 left-0 right-0 pl2 pr4">
  <button class="toast pull-left" on="tap:sidebar.toggle" tabindex="1"><span></span></button>

  <a id="logo">
    Quran<span>.com</span>
  </a>

  <a class="pull-right fa fa-link" href="<%= @presenter.canonical_href%>"></a>
</header>

<amp-sidebar id="sidebar" class="sidebar" layout="nodisplay">
  <div id="sidebar-head">
    <a id="logo">
      Quran<span>.com</span>
    </a>
    <span on='tap:sidebar.toggle' class="fa fa-close pull-right" role="button" tabindex="2"></span>
  </div>

  <nav id="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <%= link_to root_path(format: :amp) do %>
      Home
      <i class="fa fa-home"></i>
    <% end %>

    <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
      <section>
        <h6><span tabindex="2"><%= _t('nav.navigate') %></span></h6>

        <div>
          <ul>
            <li>
              <%= link_to _t('download'), pages_apps_path %>
            </li>
            <li>
              <%= link_to _t('nav.about_us'), pages_about_us_path %>
            </li>
            <li>
              <%= link_to _t('nav.contribute'), pages_donations_path %>
            </li>
            <li>
              <%= link_to _t('nav.help'), pages_help_and_feedback_path %>
            </li>
            <li>
              <%= link_to _t('nav.developers'), pages_developers_path %>
            </li>
          </ul>
        </div>
      </section>
    </amp-accordion>
  </nav>
</amp-sidebar>
