<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-tab">
          <h4><%= _t('nav.navigate') %></h4>
          <ul>
            <li>
              <%= link_to _t('download'), pages_apps_path %>
            </li>
            <li>
              <%= link_to _t('nav.about_us'), pages_about_us_path %>
            </li>
            <li>
              <%= link_to _t('nav.contribute'), pages_donations_path %>
            </li>
            <li>
              <%= link_to _t('nav.help'), pages_help_and_feedback_path %>
            </li>
            <li>
              <%= link_to _t('nav.developers'), pages_developers_path %>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-tab">
          <h4><%= _t('nav.useful_sites') %></h4>
          <ul>
            <li>
              <a href="https://quranicaudio.com/" target="_blank" rel="noopener noreferrer">Quraninaudio.com</a>
            </li>
            <li>
              <a href="https://sunnah.com/" target="_blank" rel="noopener noreferrer">Salah.com</a>
            </li>
            <li>
              <a href="https://legacy.quran.com/" target="_blank" rel="noopener noreferrer"> Legacy Quran.com</a>
            </li>
            <li>
              <a href="https://corpus.quran.com/wordbyword.jsp" target="_blank" rel="noopener noreferrer">Corpus.Quran.com</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-tab">
          <h4><%= _t('nav.other_links') %></h4>
          <ul>
            <li>
              <a href="https://quran.com/sitemap.xml.gz" target="_blank" rel="noopener noreferrer">Sitemap</a>
            </li>
            <li>
              <a href="https://quran.com/36" target="_blank" rel="noopener noreferrer">Surah Yaseen (يس)</a>
            </li>
            <li>
              <a href="https://quran.com/2/255" target="_blank" rel="noopener noreferrer">Ayat Al-Kursi (آية الكرسي)</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 ml-auto">
        <div class="copyright">
          <p class="mb-4">
            <%= _t('nav.about_project').html_safe %>
          </p>
          <p class="mb-0">&copy; <%= Date.today.year %> <a href="quran.com">Quran.com</a>. <%= _t('nav.rights') %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
