<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-tab">
          <h4>Sitemap</h4>
          <ul>
            <li>
              <%= link_to 'Download', pages_apps_path %>
            </li>
            <li>
              <%= link_to 'About', pages_about_us_path %>
            </li>
            <li>
              <%= link_to 'Contribute', pages_donations_path %>
            </li>
            <li>
              <%= link_to 'Help &amp; Feedback', pages_help_and_feedback_path %>
            </li>
            <li>
              <%= link_to 'Developer', pages_developers_path %>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-tab">
          <h4>Links</h4>
          <ul>
            <li>
              <a href="http://quranicaudio.com/" target="_blank" rel="noopener noreferrer">Quraninaudio.com</a>
            </li>
            <li>
              <a href="http://sunnah.com/" target="_blank" rel="noopener noreferrer">Salah.com</a>
            </li>
            <li>
              <a href="http://legacy.quran.com/" target="_blank" rel="noopener noreferrer"> Legacy Quran.com</a>
            </li>
            <li>
              <a href="http://corpus.quran.com/wordbyword.jsp" target="_blank" rel="noopener noreferrer">Corpus.Quran.com</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-tab">
          <h4>OTHER LINKS</h4>
          <ul>
            <li>
              <a href="https://quran.com/sitemap.xml" target="_blank" rel="noopener noreferrer">Sitemap</a>
            </li>
            <li>
              <a href="https://quran.com/36" target="_blank" rel="noopener noreferrer">SURAH YASIN, YASEEN (يس)</a>
            </li>
            <li>
              <a href="https://quran.com/2/255" target="_blank" rel="noopener noreferrer">AYAT AL-KURSI (آية الكرسي)</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 ml-auto">
        <div class="copyright">
          <p class="mb-4">Quran.com (also known as The Noble Quran,<br> Al Quran, Holy Quran, Koran) is a pro bono
            project..</p>
          <p class="mb-0">&copy; 2018 <a href="quran.com">Quran.com</a>. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
