<div class="footer">
  <div class="container">
    <div class="content-page">
      <div class="footer-links">
        <div>
          <h5><%= _t('nav.navigate') %></h5>
          <%= link_to "https://quran.com",  data: {controller:  'track', name: 'Clicked', action: 'Clicked', category: 'next.quran.com'} do %>
            Try the New Website!
          <% end %>
          <%= link_to _t('nav.about_us'), about_us_path %>
          <%#= link_to _t('nav.contribute'), "https://quranfund.com/" %>
          <%= link_to _t('nav.help'), support_path %>
          <%= link_to _t('nav.feedback', default: 'Feedback'), '#_', data: { controller: 'ajax-modal', url: '/popups/feedback' }  %>
          <%= link_to _t('nav.developers'), developers_path %>
          <%= link_to _t('download'), apps_path %>
          <%= link_to _t('nav.privacy'), privacy_path %>
        </div>

        <div>
          <h5><%= _t('nav.useful_sites') %></h5>
          <a href="https://quranicaudio.com/" target="_blank" rel="noopener">Quranicaudio.com</a>
          <a href="https://salah.com/" target="_blank" rel="noopener">Salah.com</a>
          <a href="https://sunnah.com/" target="_blank" rel="noopener">Sunnah.com</a>
          <a href="https://legacy.quran.com/" target="_blank" rel="noopener"> Legacy Quran.com</a>
          <a href="https://corpus.quran.com/wordbyword.jsp" target="_blank" rel="noopener">Corpus.Quran.com</a>
          <a href="https://quranreflect.com" target="_blank" rel="noopener">QuranReflect.com</a>
        </div>
        <div>
          <h5><%= _t('nav.other_links') %></h5>
          <a href="https://donate.quran.com/" target="_blank">Donate</a>
          <a href="https://quran.com/sitemap.xml.gz" target="_blank">Sitemap</a>
          <a href="/surah-ya-sin">Surah Yaseen (يس)</a>
          <a href="/ayatul-kursi">Ayat Al-Kursi (آية الكرسي)</a>
          <a href="/surah-al-kahf">Surah Al-Kahf (الكهف)</a>
        </div>

        <div style="max-width: 345px;">
          <p>
            <%= _t('nav.about_project').html_safe %>
          </p>

          <p>
            &copy; <%= Date.today.year %>
            <a href="https://quran.com" style="display: inline;" >Quran.com</a>. <%= _t('nav.rights') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
