<div class="header header--border">
  <div class="container header-inner">
    <div class="header-inner__firstpart">
      <div class="header-inner__firstpart__menu">
        <!-- TODO add hamburger to fonts -->
        <%= image_tag 'icon/hamburger.svg', id:'site-menu--trigger', class: 'sidebar-btns' %>
      </div>

      <%= link_to root_path, class: 'logo' do %>
        <strong>Quran</strong>.com
      <% end %>
    </div>

    <div class="header-input">
      <div class="input-wrapper medium">
        <input type="text" placeholder="" />
      </div>
    </div>

    <div class="header-theme-switch">
      <div class="theme-language">
        <div class="language-wrapper">
          <select class="language" name="" id="">
            <% available_locales.each do |locale, name| %>
              <option value="<%=locale%>"><%=name%></option>
            <%end%>
          </select>
        </div>

       <%= render 'shared/theme_switch' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/site_menu' %>
