<div class="header header--border">
  <div class="container header-inner">
    <div class="header-inner__firstpart">
      <div class="header-inner__firstpart__menu">
        <!-- TODO add hamburger to fonts -->
        <%= image_tag 'icon/hamburger.svg', id: 'site-menu--trigger', class: 'sidebar-btns', alt: 'quran.com menu' %>
      </div>

      <%= link_to root_path, class: 'logo' do %>
        <strong>Quran</strong>.com
      <% end %>
    </div>

    <% if @presenter.show_header_search? %>
      <div class="header-input">
        <div class="input-wrapper medium">
          <%= render 'shared/search_form' %>
        </div>
      </div>
    <% end %>

    <div class="header-theme-switch">
      <div class="theme-language">
        <%= render 'shared/theme_switch' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/site_menu' %>
