<%= render 'shared/left_side_bar' %>

<header class="sticky-top">
  <nav class="navbar navbar-light bg-white custom-shadow">
    <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center">
          <button class="navbar-toggler" type="button" data-controller="sidebar" data-target="#left-sidebar" data-close=".close-left-sidebar">
            <i class="fa fa-bars-regular"></i>
          </button>

          <%= link_to root_path, class: 'h2 ff-b mb-0 ml-3' do %>
            Quran<span class="ff-m h4 ml-0">.com</span>
          <% end %>

          <div id="local-switcher" class="d-md-block">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle pb-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= _t('local_native_name') %> <i class="fa fa-fadown-open"></i>
              </a>

              <ul class="dropdown-menu">
                <% available_locales.each do |locale, name| %>
                  <li>
                    <%= link_to url_for(locale: locale), class: "dropdown-item #{'active' if I18n.locale == locale}" do %>
                      <span class="<%= locale %>"><%= name %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <%= yield :header %>
      </div>
    </div>
  </nav>
</header>
