<header class="header">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="header-left">
      <%= link_to root_path, class: 'logo' do %>
        Quran<span>.com</span>
      <% end %>

      <div id="local-switcher" class="d-none d-md-block">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= _t('local_native_name') %> <i class="fa fa-fadown-open"></i>
          </a>

          <ul class="dropdown-menu">
            <% available_locales.each do |locale, name| %>
              <li role="presentation">
                <%= link_to url_for(locale: locale), role: "menuitem", class: "dropdown-item #{'active' if I18n.locale.to_s == locale }" do %>
                  <span class="<%= locale %>"><%= name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield :header %>

    <div class="head-right">
      <%= link_to _t('download'), pages_apps_path, class: 'btn btn-primary download' %>

      <a href="javascript:void(0)" class="nav-btn fa fa-align-justify" data-target="sidebar.trigger"></a>
    </div>
  </div>
</header>

<div class="right-sidebar">
  <div class="sidebar-head">
    <span class="logo">Quran<span>.com</span></span>
    <i class="fa fa-times-circle close-menu" data-target="sidebar.close"></i>
  </div>

  <ul class="main-menu">
    <li>
      <%= link_to root_path do %>
        <i class="fa fa-home"></i> <%= _t('home') %>
      <% end %>
    </li>
    <li>
      <%= link_to pages_apps_path do %>
        <i class="fa fa-mobile-alt"></i> <%= _t('nav.mobile_apps') %>
      <% end %>
    </li>
    <li>
      <%= link_to pages_about_us_path do %>
        <i class="fa fa-info-circle"> </i> <%= _t('nav.about_us') %>
      <% end %>
    </li>
    <li>
      <%= link_to pages_donations_path do %>
        <i class="fa fa-hand-receiving"></i> <%= _t('nav.contribute') %>
      <% end %>
    </li>
    <li>
      <%= link_to pages_help_and_feedback_path do %>
        <i class="fa fa-question-circle"></i> <%= _t('nav.help') %>
      <% end %>
    </li>
    <li>
      <%= link_to pages_developers_path do %>
        <i class="fa fa-code"></i> <%= _t('nav.developers') %>
      <% end %>
    </li>
  </ul>

  <div class="more-links">
    <h4><%= _t('related_sites.label') %></h4>
    <ul>
      <li>
        <a href="https://quranicaudio.com/" target="_blank" rel="noopener noreferrer">Quraninaudio.com</a>
      </li>
      <li>
        <a href="https://sunnah.com/" target="_blank" rel="noopener noreferrer">Salah.com</a>
      </li>
      <li>
        <a href="https://legacy.quran.com/" target="_blank" rel="noopener noreferrer"> Legacy Quran.com</a>
      </li>
      <li>
        <a href="https://corpus.quran.com/wordbyword.jsp" target="_blank" rel="noopener noreferrer">Corpus.Quran.com</a>
      </li>
    </ul>
  </div>
</div>
