<div id='left-sidebar' class="sidebar slide-left border-right d-none">
  <div class="sidebar-head d-flex align-items-center">
    <h4 class="ff-b mb-0">Menu</h4>
    <i class="fa fa-times-circle close-sidebar close-left-sidebar"></i>
  </div>

  <ul class="main-menu p-0">
    <li class="d-block my-1">
      <%= link_to root_path do %>
        <i class="fa fa-home pr-2"></i>
        <%= _t('home') %>
      <% end %>
    </li>
    <li class="d-block my-1">
      <%= link_to about_us_path do %>
        <i class="fa fa-info-circle pr-2"></i>
         <%= _t('nav.about_us') %>
      <% end %>
    </li>
    <li class="d-block my-1">
      <%= link_to donations_path do %>
        <i class="fa fa-donate pr-2"></i>
        <%= _t('nav.contribute') %>
      <% end %>
    </li>
    <li class="d-block my-1">
      <%= link_to support_path do %>
        <i class="fa fa-help pr-2"></i>

        <%= _t('nav.help') %>
      <% end %>
    </li>
    <li class="d-block my-1">
      <%= link_to developers_path do %>
        <i class="fa fa-developer pr-2"></i>

        <%= _t('nav.developers') %>
      <% end %>
    </li>
    <li class="d-block my-1">
      <%= link_to apps_path do %>
        <i class="fa fa-mobile pr-2"></i>
        <%= _t('nav.mobile_apps') %>
      <% end %>
    </li>
  </ul>

  <div class="more-links">
    <h4 class="ff-b"><%= _t('related_sites.label') %></h4>
    <ul class="p-0">
      <li class="d-block my-1">
        <a href="https://quranicaudio.com/" target="_blank" rel="noopener noreferrer">Quraninaudio.com</a>
      </li>
      <li class="d-block my-1">
        <a href="https://sunnah.com/" target="_blank" rel="noopener noreferrer">Salah.com</a>
      </li>
      <li class="d-block my-1">
        <a href="https://legacy.quran.com/" target="_blank" rel="noopener noreferrer"> Legacy Quran.com</a>
      </li>
      <li class="d-block my-1">
        <a href="https://corpus.quran.com/wordbyword.jsp" target="_blank" rel="noopener noreferrer">Corpus.Quran.com</a>
      </li>
    </ul>
  </div>
</div>

<div class="slide-backdrop close-left-sidebar">
</div>
