<% query = (params[:q] || params[:query]).presence %>

<div class="search-form d-md-flex d-none flex-fill">
   <form class="form-search form-group sb-search-open" action="/search" data-controller="search-form">
      <input class="form-control bg-light <%= I18n.locale %>" placeholder="<%= t('search.placeholder', default: "Search 'Noah'") %>" type="search" name="query" value="<%= query %>">
      <button type="submit" class="form-control form-control-submit search-btn"></button>
      <span class="search-label">
        <i class="fa fa-search"></i>
      </span>
      <div class="suggestions"></div>
    </form>

</div>

<div class="search-form d-md-none d-flex flex-fill">
   <form class="form-search form-group <%= mobile_expand ? 'expand-collapse' : 'sb-search-open' %>" action="/search" data-controller="search-form" id="search">
      <input class="form-control bg-light <%= I18n.locale %>" placeholder="<%= t('search.placeholder', default: "Search 'Noah'") %>" type="search" name="query" value="<%= query %>">
      <button type="submit" class="form-control form-control-submit search-btn"></button>
      <span class="search-label">
        <i class="fa fa-search"></i>
      </span>
      <div class="suggestions"></div>
    </form>
</div>

