<div class="form-check my-4 ml-4" data-filter-tags="<%= language.downcase %> <%= translation[1].downcase %>">
  <input class="form-check-input translation" type="checkbox"  value="<%= translation[0] %>" id="tans-<%= translation[0] %>">
  <label class="form-check-label text-muted ff-r" for="tans-<%= translation[0] %>">
    <%= translation[1] %>
  </label>
</div>
