<%
  translated_name = translation.translated_name

  filters = translation_name_filter(translated_name.name, translation.name)
%>
<label class="check-label" data-filter-tags="<%= language %> <%= filters %>">
  <%= translated_name.name %>
  <input type="checkbox" value="<%= translation.id %>" id="tans-<%= translated_name.id %>" class="translation-checkbox">
  <span class="checkmark"></span>
  <% if 'english' != translated_name.language_name %>
    <br/>
    <small class="fs-xs">
      <%= translation.name %>
    </small>
  <% end %>
</label>
