<% verse = Verse.find_by_verse_key('1:1') %>

<style>
  @font-face {
    font-family: 'p1-v1';
    src: local(QCF_P001),
    url('<%= asset_url "quran_fonts/v1/woff2/p1.woff2"%>'),
    url('<%= asset_url "quran_fonts/v1/woff/p1.woff" %>') format('woff'),
    url('<%= asset_url "quran_fonts/v1/ttf/p1.ttf" %>') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'p1-v2';
    src: local(QCF2001),
    url('<%= asset_url "quran_fonts/v2/woff2/p1.woff2" %>'),
    url('<%= asset_url "quran_fonts/v2/woff/p1.woff" %>') format('woff');
    font-display: swap;
  }

  .p1-v1 {
    font-family: 'p1-v1';
  }

  .p1-v2 {
    font-family: 'p1-v2';
  }
</style>

<div class="all-fonts" data-controller="font">
  <div class="font">
    <label class="radio-label "><%= _t('settings.fonts.qcf_v1') %>
      <input class="" name="font" type="radio" value="v1" id=v1>
      <span class="checkmark"></span>
    </label>
    <div class="arabic">
        <span class="p1-v1">
        <%= verse.code_v1 %>
        </span>
    </div>
  </div>

  <div class="font">
    <label class="radio-label "><%= _t('settings.fonts.qcf_v2') %>
      <input class="" name="font" type="radio" value="v2" id=v2>
      <span class="checkmark"></span>
    </label>
    <div class="arabic">
        <span class="p1-v2">
        <%= verse.code_v2 %>
        </span>
    </div>
  </div>

  <div class="font">
    <label class="radio-label "><%= _t('settings.fonts.qpc_hafs', default: 'King Fahd Quran Complex Hafs') %>
      <input class="" name="font" type="radio" checked=checked name="font" value="qpc_hafs" id=qpc_hafs>
      <span class="checkmark"></span>
    </label>
    <div class="arabic muhsaf-qpc_hafs">
      <%= verse.qpc_uthmani_hafs %>
    </div>
  </div>

  <div class="font">
    <label class="radio-label "><%= _t('settings.fonts.uthmani') %>
      <input class="" name="font" type="radio" checked=checked name="font" value="uthmani" id=uthmani>
      <span class="checkmark"></span>
    </label>
    <div class="arabic uthmani">
      <%= verse.text_uthmani %>
    </div>
  </div>

  <div class="font">
    <label class="radio-label "><%= _t('settings.fonts.indopak') %>
      <input class="" name="font" type="radio" value="indopak" id=indopak>
      <span class="checkmark"></span>
    </label>
    <div class="arabic indopak">
      <%= verse.text_indopak %>
    </div>
  </div>

  <div class="font">
    <label class="radio-label "><%= _t('settings.fonts.tajweed') %>
      <input class="" name="font" type="radio" value="tajweed" id=tajweed>
      <span class="checkmark"></span>
    </label>
    <div class="arabic tajweed">
      <%= verse.text_uthmani_tajweed.html_safe %>
    </div>
  </div>
</div>
