<div data-controller="filter-list choose-locales" class="px-4" data-list="#locales" data-input="#filter-locales">
  <div id="site-locales">
    <% available_locales.each do |locale, name| %>

      <div class="form-check my-4" data-filter-tags="<%= name %>">
        <div>
          <input class="form-check-input" type="radio" name="locale" value="<%= locale %>" id="locale-<%= locale %>" <%="checked" if I18n.locale == locale%>>
          <label class="form-check-label text-muted" for="locale-<%= locale %>">
            <span class="">
              <%= name %>
            </span>
          </label>
        </div>
      </div>
    <% end %>
  </div>
</div>
