<div class="reciters__content" data-controller="filter-list choose-recitation" data-list=".all-reciters" data-input="#filter-recitation">
  <div class="input-wrapper large">
    <input type="text" placeholder="Search Reciters" id="filter-recitation">
  </div>
  <div class="all-reciters">
    <% @presenter.recitations.each do |recitation| %>
      <% reciter_name = recitation.reciter.translated_name %>
      <div class="reciter" data-filter-tags="<%= recitation.reciter_name.downcase %> <%= reciter_name.name %> <%= recitation.style.to_s.downcase %>">
        <label class="radio-label <%= reciter_name.language_name %>"><%= reciter_name.name %>
          <% if recitation.style.present? %>
            <small class="rounded-pill bg-primary text-white p-1 style" data-style="<%= recitation.style.downcase %>"><%= recitation.style %></small>
          <% end %>
          <input class="" type="radio" name="recitation" value="<%= recitation.id %>" id="recitation-<%= recitation.id %>">
          <span class="checkmark"></span>
        </label>
        
        <!--<button id="" class="btn btn--darkgrey btn--medium btn--play btn--reciter">Hear the voice</button>-->
      </div>
    <%end%>
  </div>
</div>