<div class="reciters__content" data-controller="filter-list choose-recitation" data-list=".all-reciters" data-input="#filter-recitation">
  <div class="input-wrapper large select2-search">
    <input type="search"
           id="filter-recitation"
           placeholder="<%= t('filter.reciters', default: "Search Reciters") %>"
           autocapitalize="none"
           autocomplete="off"
           autocorrect="off"
           spellcheck="false"
           aria-label="Search"
           class="ytd-searchbox"
           aria-haspopup="false"
           role="combobox" aria-autocomplete="list"/>
  </div>
  <div class="all-reciters">
    <% @presenter.recitations.each do |recitation| %>
      <% reciter_name = recitation.reciter.translated_name %>
      <div class="reciter" data-filter-tags="<%= recitation.reciter_name.downcase %> <%= reciter_name.name %> <%= recitation.style.to_s.downcase %>">
        <label class="radio-label <%= reciter_name.language_name %>"><%= reciter_name.name %>
          <% if recitation.style.present? %>
            <small class="rounded-pill bg-info text-white p-1 style" data-style="<%= recitation.style.downcase %>"><%= recitation.style %></small>
          <% end %>
          <input class="" type="radio" name="recitation" value="<%= recitation.id %>" id="recitation-<%= recitation.id %>">
          <span class="checkmark"></span>
        </label>
        <!--<button id="" class="btn btn--darkgrey btn--medium btn--play btn--reciter">Hear the voice</button>-->
      </div>
    <%end%>
  </div>
</div>
