<div data-controller="filter-list" data-list="#recitations" data-input="#filter-recitation">
  <div class="rounded-search d-flex justify-content-end my-4">
    <input class="form-control bg-light" placeholder="Filter" type="search" id="filter-recitation"/>
  </div>

  <div id="recitations">
    <% approved_recitations.each do |recitation| %>
      <div class="form-check my-4" data-filter-tags="<%= recitation.reciter_name.downcase %> <%= recitation.style.to_s.downcase %>">
        <div>
          <input class="form-check-input" type="radio" name="recitation" value="<%= recitation.id %>" id="recitation-<%= recitation.id %>">
          <label class="form-check-label text-muted ff-m" for="recitation-<%= recitation.id %>">
            <%= recitation.reciter_name %>
            <% if recitation.style.present? %>
              <small class="rounded-pill bg-primary text-white p-1"><%= recitation.style %></small>
            <% end %>
          </label>
        </div>

        <button class="btn btn-info d-flex align-items-center mt-2">
          <i class="fa fa-play"></i>
          Hear the Voice
        </button>
      </div>
    <% end %>
  </div>
</div>
