<% reciter = @presenter.selected_reciter %>

<div class="settings" data-controller="settings" id="main-right-sidebar">
  <div class="tab__container">
    <div class="menu__header">
      <div class="first">
        <div id="close-settings" class="close-settings" data-action="click->setting#hideSetting"></div>
        <p class="text text--black text--large2 text--semibold"><%= _t('settings.label') %></p>
      </div>
      <div>
        <button id="reset-settings" class="btn btn--lightgreen btn--medium" id='reset-settings'>
          <%= _t('settings.reset') %>
        </button>
      </div>
    </div>

    <div class="tab__row tab__row--center  hide-sm">
      <div class="tabs" data-controller="tabs">
        <a class="tabs__item translation-tab <%= 'tabs__item--selected' if 'translation' == @presenter.active_tab %>"
           href="/<%= @presenter.current_chapter.id %>?reading=false"
           data-target="#translation-section"
           data-tab="chapter-tabs">
          <%= _t('reader_mode.translation') %>
        </a>

        <a class="tabs__item reading-tab <%= 'tabs__item--selected' if 'reading' == @presenter.active_tab %>"
           href="/<%= @presenter.current_chapter.id %>?reading=true"
           data-target="#reading-section"
           data-tab="chapter-tabs">
          <%= _t('reader_mode.reading') %>
        </a>

        <a class="tabs__item info-tab surah-info-tab" href="<%= chapter_info_path(@presenter.current_chapter.id, locale: I18n.locale) %>"
           data-target="#info-section"
           data-tab="chapter-tabs">
          <%= _t('reader_mode.info') %>
        </a>
      </div>
    </div>

    <div class="tab__row tab__row--col">
      <div class="tab__item"
           data-controller="sidebar"
           data-is-child=true
           data-target="#translations-sidebar"
           data-close=".close-translations">
        <div class="label label__large" id="open-translations">
          <div class="label--text">
            <p class="label--title"><%= _t('settings.translations') %></p>
            <% selected_count = @presenter.selected_translation_count %>
            <p class="label--subtitle"><%= _t('settings.translation_count', count: selected_count) %></p>
          </div>
          <div class="label--arrow"></div>
        </div>
      </div>

      <div class="label label__large"
           id="open-reciters"
           data-controller="sidebar"
           data-is-child=true
           data-target="#reciters-sidebar"
           data-close=".close-reciters">
        <div class="label--text">
          <p class="label--title">
            <%= _t('settings.reciters') %>
          </p>
          <p class="label--subtitle <%= reciter.language_name %>">
            <%= reciter.name %>
          </p>
        </div>
        <div class="label--arrow"></div>
      </div>
    </div>

    <div class="tab__row tab__row--center">
      <div class="tabs" data-controller="tabs">
        <a id="display-settings"
           class="tabs__item tabs__item--selected"
           data-target="#display-setting-tab"
           data-tab="basic-settings-tabs">
          <%= _t('settings.display') %>
        </a>

        <a id="audio-settings"
           class="tabs__item audio-setting-tab"
           data-target="#audio-setting-tab"
           data-tab="basic-settings-tabs">
          <%= _t('settings.audio') %>
        </a>
      </div>
    </div>

    <%= render 'display_settings' %>
    <%= render 'audio_settings' %>
  </div>
</div>

<%= render 'translation_sidebar' %>
<%= render 'reciter_sidebar' %>
<%= render 'fonts_sidebar' %>
