<% reciter = @presenter.selected_reciter %>

<div class="right-sidebar px-4 py-4 border-left" id="main-right-sidebar" data-controller="settings">
  <div class="d-flex justify-content-between pt-2 align-items-center">
    <h6 class="mb-0 ff-b">
      <%= _t('settings.night_mode.label') %>
    </h6>

    <div class="col-2 justify-content-end" data-controller="theme">
      <span class="theme-switch mr-2" data-theme="light">
        <%= lazy_image_tag "icon/light.svg" %>
      </span>
    </div>
  </div>

  <div class="d-md-none d-block mt-3">
    <ul class="nav nav-pills mb-0 justify-content-between" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link px-2 px-md-3 active" id="pill-translation-tab" data-toggle="pill" href="#pill-translation" role="tab" aria-controls="pill-translation" aria-selected="true">
          <%= _t('reader_mode.translation') %>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 px-md-3" id="pill-reading-tab" data-toggle="pill" href="#pill-reading" role="tab" aria-controls="pill-reading" aria-selected="false">
          <%= _t('reader_mode.reading') %>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 px-md-3" id="pill-surah-info-tab" data-toggle="pill" href="#pill-info" role="tab" aria-controls="pill-info" aria-selected="false">
          <%= _t('reader_mode.info') %>
        </a>
      </li>
    </ul>
  </div>

  <div class="row bg-info p-3 border mt-5 rounded align-items-center c-pointer" data-controller="sidebar" data-is-child=true data-target="#translations-sidebar" data-close=".close-translations-sidebar">
    <div class="col-11">
      <h6 class="mb-0 ff-b"><%= _t('settings.translations') %></h6>
      <% if (count = @presenter.selected_translation_count) > 0 %>
      <span class="mb-0 text-muted fs-sm">
        <%= _t('settings.translation_count', count: count) %>
      </span>
      <% end %>
    </div>

    <div class="col-1">
      <i class="fa fa-chevron-right fa-center"></i>
    </div>
  </div>

  <div class="row bg-info p-3 border mt-3 rounded align-items-center c-pointer" data-controller="sidebar" data-is-child=true data-target="#reciters-sidebar" data-close=".close-reciters-sidebar">
    <div class="col-11">
      <h6 class="mb-0 ff-b"><%= _t('settings.reciters') %></h6>
      <span class="mb-0 text-muted fs-sm <%= reciter.language_name %>">
         <%= reciter.name %>
      </span>
    </div>

    <div class="col-1">
      <i class="fa fa-chevron-right fa-center"></i>
    </div>
  </div>

  <ul class="nav nav-pills my-5 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="display-tab" data-toggle="pill" href="#display" role="tab" aria-controls="display" aria-selected="true">
        <%= _t('settings.display') %>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="audio-tab" data-toggle="pill" href="#audio" role="tab" aria-controls="repeat" aria-selected="false">
        <%= _t('settings.audio') %>
      </a>
    </li>
  </ul>

  <div class="tab-content" id="display-tabs">
    <div class="tab-pane fade show active" id="display" role="tabpanel" aria-labelledby="display-tab">
      <h6 class="ff-b">
        <%= _t('settings.tooltip.label') %>
      </h6>

      <div class="row">
        <label class="custom-label col">
          <input type="radio" name="tooltip-display" data-value="t"/>
          <p class="border border-muted d-flex w-100 rounded">
            <%= _t('settings.tooltip.translation') %>
          </p>
        </label>

        <label class="custom-label col">
          <input type="radio" name="tooltip-display" data-value="tr"/>
          <p class="border border-muted d-flex w-100 rounded">
            <%= _t('settings.tooltip.transliteration') %>
          </p>
        </label>
      </div>

      <div class="row bg-info p-3 border mt-3 rounded align-items-center c-pointer" data-controller="sidebar" data-is-child=true data-target="#fonts-sidebar" data-close=".close-fonts-sidebar">
        <div class="col-11">
          <h6 class="mb-0 ff-b">
            <%= _t('settings.font_type') %>
          </h6>
        </div>

        <div class="col-1">
          <i class="fa fa-chevron-right fa-center"></i>
        </div>
      </div>

      <h6 class="ff-b mt-4">
        <%= _t('settings.font_size.label') %>
      </h6>

      <div class="row">
        <div class="col my-2">
          <div class="d-flex justify-content-between align-items-center">
            <i class="fa fa-plus-circle fa-center c-pointer" data-increment="1" data-target=".word" data-trigger="font-size"></i>
            <h6 class="mb-0 ff-b"><%= _t('settings.font_size.arabic') %></h6>
            <i class="fa fa-minus-circle fa-center c-pointer" data-increment="-1" data-target=".word" data-trigger="font-size"></i>
          </div>
        </div>

        <div class="col my-2">
          <div class="d-flex justify-content-between align-items-center">
            <i class="fa fa-plus-circle fa-center px-2 c-pointer" data-increment="1" data-target=".translation" data-trigger="font-size"></i>
            <h6 class="mb-0 ff-b"><%= _t('settings.font_size.translation') %></h6>
            <i class="fa fa-minus-circle fa-center px-2 c-pointer" data-increment="-1" data-target=".translation" data-trigger="font-size"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="audio" role="tabpanel" aria-labelledby="audio-tab" data-controller="audio-repeat-setting">
      <div class="form-check form-switch form-control-lg">
        <label class="form-check-label" for="repeat-switch">
          <%= _t('player.repeat_title') %>
        </label>

        <input class="form-check-input" type="checkbox" id="repeat-switch">
      </div>

      <div id=repeat-wrapper class="d-none fade my-4">
        <ul class="nav nav-pills justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active fs-sm" id="repeat-single" data-toggle="pill" href="#single-tab" role="tab" aria-controls="single-tab" aria-selected="true">
              <%= _t('player.repeat_single') %>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link fs-sm" id="repeat-range" data-toggle="pill" href="#range-tab" role="tab" aria-controls="range-tab" aria-selected="false">
              <%= _t('player.repeat_range') %>
            </a>
          </li>
        </ul>

        <div class="tab-content" id="repeat-tabs">
          <div class="tab-pane fade show active border p-3 my-2" id="single-tab" role="tabpanel" aria-labelledby="repeat-single">
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label" for="repeat-single-ayah">
                    <%= _t('player.select_verse') %>
                  </label>
                  <select class="form-select" id=repeat-single-ayah aria-label="<%= t('player.select_verse') %>">
                    <option selected>
                      <%= _t('player.select_verse') %>
                    </option>

                    <% 1.upto(@presenter.current_chapter.verses_count) do |verse| %>
                      <option value="<%= verse %>"><%= verse %></option>
                    <% end %>
                  </select>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="repeat-single-times">
                    <%= _t('player.repeat_times') %>
                  </label>

                  <select class="form-select" aria-label="<%= t('player.repeat_times') %>" id=repeat-single-times>
                    <option selected value="1"><%= _t('player.repeat_times') %></option>
                    <% 2.upto(10) do |count| %>
                      <option value="<%= count %>"><%= count %></option>
                    <% end %>
                    <option value="1000"><%= _t('player.loop') %></option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade border p-3 my-2" id="range-tab" role="tabpanel" aria-labelledby="repeat-range">
            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label" for="repeat-range-from">
                  <%= _t('player.repeat_from') %>
                </label>

                <select class="form-select" id=repeat-range-from aria-label="<%= t('player.select_verse') %>">
                  <option selected>
                    <%= _t('player.select_verse') %>
                  </option>

                  <% 1.upto(@presenter.current_chapter.verses_count) do |verse| %>
                    <option value="<%= verse %>"><%= verse %></option>
                  <% end %>
                </select>
              </div>

              <div class="col-6">
                <label class="form-label" for="repeat-range-to">
                  <%= _t('player.repeat_to') %>
                </label>

                <select class="form-select" id=repeat-range-to aria-label="<%= t('player.select_verse') %>">
                  <option selected>
                    <%= _t('player.select_verse') %>
                  </option>

                  <% 1.upto(@presenter.current_chapter.verses_count) do |verse| %>
                    <option value="<%= verse %>"><%= verse %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                <label class="form-label" for="repeat-range-times">
                  <%= _t('player.repeat_times') %>
                </label>

                <select class="form-select" aria-label="<%= t('player.repeat_times') %>" id=repeat-range-times>
                  <option selected value="1"><%= _t('player.repeat_times') %></option>
                  <% 2.upto(10) do |count| %>
                    <option value="<%= count %>"><%= count %></option>
                  <% end %>
                  <option value="1000"><%= _t('player.loop') %></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-4">
        <h6 class="ff-b"><%= _t('player.pause_bw_ayah') %></h6>
        <div class="form-check d-flex align-items-center text-muted">
          <input class="form-check-input" type="radio" name="pause-bw-ayah" id="pause-ayah">

          <label class="form-check-label d-flex align-items-center w-100" for="pause-ayah">
            <span class="mx-2"><%= _t('player.pause') %></span>

            <select class="form-control w-25" id=pause-bw-ayah-seconds>
              <option value="0" selected>
                0
              </option>

              <% 3.step(30, 2) do |pause| %>
                <option value="<%= pause %>"><%= pause %></option>
              <% end %>
            </select>
            <span class="ml-2"><%= _t('player.pause_seconds') %></span>
          </label>
        </div>

        <div class="form-check text-muted mt-2">
          <input class="form-check-input" type="radio" value="0" name="pause-bw-ayah" id="play-continuously" checked>
          <label class="form-check-label" for="verse-same">
            <%= _t('player.play_continuously') %>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sidebar slide-right border-left d-none" id="translations-sidebar">
  <div class="sidebar-head d-flex align-items-center justify-content-between">
    <i class="fa fa-long-arrow-left close-sidebar close-translations-sidebar fa-center"></i>
    <h6 class="mb-0 ff-b"><%= _t('settings.translations') %></h6>

    <% if false %>
      <button class="btn btn-primary text-white">
        <%= _t('settings.remove_all') %>
      </button>
    <% end %>
  </div>

  <%= render_async '/settings/translations', lazy_load: {root: '#translations-sidebar'} do %>
    <p class="text-center p-3">
      <%= loading_spinner %>
    </p>
  <% end.html_safe %>
</div>

<div class="sidebar slide-right border-left d-none" id="reciters-sidebar">
  <div class="sidebar-head d-flex align-items-center justify-content-between">
    <i class="fa fa-long-arrow-left close-sidebar close-reciters-sidebar fa-center"></i>
    <h6 class="mb-0 ff-b"><%= _t('settings.reciters') %></h6>
  </div>

  <%= render_async '/settings/recitations', lazy_load: {root: '#reciters-sidebar'} do %>
    <p class="text-center p-3">
      <%= loading_spinner %>
    </p>
  <% end.html_safe %>
</div>

<div class="sidebar slide-right border-left d-none" id="fonts-sidebar">
  <div class="sidebar-head d-flex align-items-center justify-content-between">
    <i class="fa fa-long-arrow-left close-sidebar close-fonts-sidebar fa-center"></i>
    <h6 class="mb-0 ff-b"><%= _t('settings.font_type') %></h6>
  </div>

  <%= render_async '/settings/fonts', lazy_load: {root: '#fonts-sidebar'} do %>
    <p class="text-center p-3">
      <%= loading_spinner %>
    </p>
  <% end.html_safe %>
</div>
