<%
  translations = @presenter.translations
  trans_keys = translations.keys

  languages = @presenter.languages
%>

<div class="translations__content"
     data-controller="filter-list choose-translations"
     data-list="#ordered-translations"
     data-input="#filter-translations">
  <div>
    <div class="input-wrapper large select2-search">
      <input type="search"
             id="filter-translations"
             placeholder="<%= t('filter.translations', default: "Search 'Noah'") %>"
             autocapitalize="none"
             autocomplete="off"
             autocorrect="off"
             spellcheck="false"
             aria-label="Search"
             class="ytd-searchbox"
             aria-haspopup="false"
             role="combobox" aria-autocomplete="list"/>
    </div>
  </div>

  <%
    language = languages[38]
    translated = language.translated_name
    name_for_filters = translation_name_filter(language.name, translated.name)
  %>

  <div id='ordered-translations'>
    <div class="translations__languages">
      <div>
        <p class="text text--darkgrey text--medium text--semibold country-name <%= language.name.downcase %>">
          <%= translated.name %>
        </p>
      </div>

      <div class="translations__padding" data-filter-tags="<%= name_for_filters %>">
        <%= render partial: 'translation', collection: translations[trans_keys.delete(38)], as: :translation, locals: {language: name_for_filters} %>
      </div>
      <div class="horizontal-line"></div>
    </div>

    <div>
      <p class="text text--darkgrey text--large text--semibold"><%= _t('settings.translation_other') %></p>
      <div class="translations__padding">
        <% trans_keys.each do |lang| %>
          <%
            language = languages[lang]
            translated = language.translated_name
            name_for_filters = translation_name_filter(language.name, translated.name)
          %>
          <div>
            <p class="text text--darkgrey text--medium text--semibold">
              <%= translated.name %>
            </p>
          </div>

          <div class="translations__padding">
            <%= render partial: 'translation', collection: translations[lang], as: :translation, locals: {language: name_for_filters} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
