<div class="container">
  <div class="content-page content-page--small">
    <div>
      <h1>Help &amp; feedback.</h1>
      <p>Please check the FAQ to see if your question has been already answered.
        If needed you can
        <a data-controller="ajax-modal" data-url="/popups/feedback">
          contact us
        </a> &amp;
        we'll do our best to get back to you as soon as possible, but just so you
        know we're a small team so please be nice.
      </p>
    </div>

    <div>
      <div id="accordion" class="accordion">
        <% faq_list.each_with_index do |faq, i| %>
          <div class="card">
            <div class="card-header" id="faq-<%= i %>">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#faq-<%= i %>-body" aria-expanded="true" aria-controls="faq-<%= i %>-body">
                  <p><%= faq[0] %></p>
                </button>
              </h5>
            </div>

            <div id="faq-<%= i %>-body" class="collapse" aria-labelledby="faq-<%= i %>" data-parent="#accordion">
              <div class="card-body">
               <%= faq[1].html_safe %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

