<link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
<% verse = @presenter.verse %>

<div class="container">
  <div class="row d-flex justify-content-center my-5">
    <div class="col-md-8">
      <div class="tafsir lh-n <%= @presenter.language_name %>">
        <h2 class="border-bottom py-2 text text--black ">
          <%= @presenter.tafsir_name %>
        </h2>

        <h2 class="arabic text_uthmani my-4 lh-n">
          <%= verse.text_uthmani %>
        </h2>

        <div class="text text--medium text--large text--grey" style="font-family: 'Amiri', serif; line-height: normal">
          <%= @presenter.tafsir_text %>
        </div>
      </div>

      <div class="text-center my-4">
        <% if prev_key = QuranUtils::Quran.get_ayah_key(verse.chapter_id, verse.verse_number - 1) %>
          <%= link_to "Previous ayah", "/#{prev_key}/tafsirs/#{params[:tafsir_id]}", class: 'btn btn-outline-primary mt-4' %>
        <% end %>
        <%= link_to "Back to ayah", "/#{verse.chapter_id}/#{verse.verse_number}", class: 'btn btn-outline-primary mt-4' %>
        <% if next_key = QuranUtils::Quran.get_ayah_key(verse.chapter_id, verse.verse_number + 1) %>
          <%= link_to "Next ayah", "/#{next_key}/tafsirs/#{params[:tafsir_id]}", class: 'btn btn-outline-primary mt-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
