<li class="d-block pt-1">
  <div class="border px-3 py-4 rounded chapter-number-box">
    <span class="juz-num position-absolute"><%= key %></span>

    <%= link_to chapter_path(chapter),
                class: 'row flex-row',
                data: {
                  controller: 'track',
                  name: 'chapters',
                  category: "#{chapter.id}-#{chapter.name_simple}"
                } do %>
      <div class="col name mt-2 text-truncate">
        <h5 class="name text-muted"><%= chapter.name_simple %></h5>
        <span class="text-nowrap <%= chapter.translated_name.language_name %>"><%= chapter.translated_name.name %></span>
      </div>

      <div class="col-4 icon mt-2">
        <span class="icon-surah icon-surah<%= chapter.chapter_number %>"></span>
        <span class="icon-surah icon-surah-surah"></span>
      </div>
    <% end %>
  </div>
</li>
