<li>
  <%= link_to chapter_path(chapter), class: 'row d-flex align-items-center' do %>
    <div class="col-sm-7 name">
      <h5 class="name"><%= chapter.name_simple %></h5>
      <span class="translatedName <%=  chapter.translated_name.language_name %>"><%= chapter.translated_name.name %></span>
    </div>
    <div class="col-sm-5 icon">
      <span class="icon-surah icon-surah<%= chapter.chapter_number %>"></span>
      <span class="icon-surah icon-surah-surah"></span>
    </div>
  <% end %>
</li>
