<li>
  <% juz.verse_mapping.each do |chapter_number, verses| %>
    <% chapter = @presenter.chapters[chapter_number.to_i - 1] %>

    <%= link_to range_path(chapter, verses), class: 'row d-flex align-items-center' do %>
      <div class="col-sm-7 name">
        <h5 class="name">
          <%= chapter.name_simple %>
          <span class="badge badge-primary"><%= verses %></span>
        </h5>
        <span class="translatedName <%= chapter.translated_name.language_name %>"><%= chapter.translated_name.name %></span>
      </div>
      <div class="col-sm-5 icon">
        <span class="icon-surah icon-surah<%= chapter.chapter_number %>"></span>
      </div>
    <% end %>
  <% end %>
</li>
