<li class="d-block pt-1 position-relative">
  <div class="border rounded mt-2 juz-container">
   <span class="position-absolute juz-num"><%= key %></span>

    <% juz.verse_mapping.each do |chapter_number, verses| %>
     <% chapter = @presenter.chapters[chapter_number.to_i - 1] %>

      <%= link_to range_path(chapter, verses),
                  class: 'row flex-row border-bottom py-4 m-0 juz-box',
                  data: {
                    controller: 'track',
                    name: 'juz',
                    category: "#{chapter.id}-#{chapter.name_simple}"
                  } do %>
        <div class="col mt-2 text-truncate">
          <h5 class="name text-muted"><%= chapter.name_simple %></h5>
          <span class="badge rounded-pill bg-secondary"><%= verses %></span>
          <span class="text-nowrap text-primary <%= chapter.translated_name.language_name %>"><%= chapter.translated_name.name %></span>
        </div>

        <div class="col-5 mt-2 text-primary icon text-right">
          <span class="icon-surah icon-surah<%= chapter.chapter_number %>"></span>
          <span class="icon-surah icon-surah-surah"></span>
        </div>
      <% end %>
    <% end %>
  </div>
</li>
