<%
  font = @presenter.font_type
  page = verses[0].page_number
  first_verse = verses.first

  lines = group_words_lines(verses, font)
  bismillah_shown = {}
%>

<div class="mushaf-layout mushaf muhsaf-<%= font %>">
  <div class="mushaf-wrapper">
    <div class="mushaf-page p<%= page %>-<%= font %> <%= font %>" id="page-<%= page %>">
      <% lines.each do |line_number, line_verses| %>
        <div class="line" id=line-<%= line_number %>>
          <% line_verses.each do |verse_id, words| %>
            <%
              verse_key = words.first.verse_key
            %>

            <% if QuranUtils::Quran.first_ayah?(verse_id) && bismillah_shown[verse_id].nil? %>
              <%= render 'reader/chapter_name', verse: words.first.verse %>

              <% bismillah_shown[verse_id] = true %>
            <% end %>

            <div class="verse arabic"
                 data-controller="verse"
                 data-reading="true"
                 data-key="<%= verse_key %>">
              <%= render partial: 'reader/word', collection: words, locals: { font: font } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'reader/juz_art', verse: first_verse, page: page %>
<div class="horizontal-line"></div>
