<div class="row page my-2" id="page-num-<%= verses[0] %>">
  <div class="col-md-12">
    <h4 class="text-muted"><%= _t('page') %> <%= verses[0] %></h4>

    <% lines = group_ayah_by_lines(verses[1]) %>

    <div class="lines">
      <% lines.each do |k, line| %>
        <div class="line">
          <div class="text-center">
            <% line.each do |verse_number, words| %>
              <div class="arabic d-inline verse <%= @presenter.font_method %>" data-verse-number="<%= verse_number %>" data-controller="verse" data-key="<%= verse_number %>">
                <%= render partial: 'word', collection: words %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row d-flex justify-content-end row-border">
      <div class="col-md-11">
        <hr class="hr-border">
      </div>
    </div>
  </div>
</div>
