<section class="surah-actions">
  <div class="container">
    <div class="scrolled-section">
      <ul class="d-flex justify-content-between navbar-nav flex-row" id="surah-actions">
        <li class="dropdown" id="tooltip">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="tooltip-dropdown">
            <i class="fa fa-commenting-o"></i>
            <%= _t('settings.tooltip.label') %>
          </a>

          <div class="dropdown-menu" aria-labelledby="tooltip-dropdown">
            <a class="dropdown-item word-tooltip" href='#' data-tooltip="translation">
              <%= _t('settings.tooltip.translation') %>
            </a>

            <a class="dropdown-item word-tooltip" href='#' data-tooltip="transliteration">
              <%= _t('settings.tooltip.transliteration') %>
            </a>
          </div>
        </li>

        <li id="arabic-font" data-target=".word">
          <i class="fa fa-text-width"></i>
          <%= _t('settings.font_size.arabic') %>

          <a href="" class="font-size increase">+</a>
          <a href="" class="font-size decrease">-</a>
        </li>

        <li id="translation-font" data-target=".translation">
          <%= _t('settings.font_size.translation') %>
          <a href="" class="font-size increase">+</a>
          <a href="" class="font-size decrease">-</a>
        </li>

        <li class="two-icons">
          <a href="#" class="fa fa-book"></a>
          <a id="toggle-nightmode"
             href="#" class="fa fa-lightbulb-1"
             rel="tooltip"
             data-placement="top"
             title="<%= t('settings.night_mode.night_tip') %>"
             day="<%= t('settings.night_mode.night_tip') %>"
             title="<%= t('settings.night_mode.night_tip') %>"
          >

          </a>
        </li>

        <li class="dropdown border-left" id="reciters">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="reciter-dropdown">
            <i class="fa fa-mic"></i>
            <%= _t('settings.reciters') %>
          </a>

          <div class="dropdown-menu" aria-labelledby="reciter-dropdown">
            <a class="dropdown-item" href=""><%= _t('settings.tooltip.translation') %></a>
            <a class="dropdown-item" href=""><%= _t('settings.tooltip.transliteration') %></a>
          </div>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="translation-dropdown">
            <i class="fa fa-list"></i>  <%= _t('settings.translations') %>
          </a>

          <div class="dropdown-menu keep-open" id='translation-dropdown-menu' aria-labelledby="translation-dropdown">
            <% ordered_translations.each do |language, list| %>

              <% list.each do |trans| %>
                <div class="dropdown-item" data-translation="<%= trans[0] %>">
                  <%= trans[1] %>
                </div>
              <% end %>
              <div class="dropdown-divider"></div>
            <% end %>
          </div>
        </li>

        <li>
          <a href="" id="reset-setting">
            <i class="fa fa-close" data-toggle="tooltip" data-placement="top" title="<%= t('settings.reset') %>"></i>
          </a>
        </li>

        <li class="info-li">
          <%= link_to chapter_info_path(@presenter.chapter), remote: true, data: {disable_with: spinning_loader} do %>
            <i class="fa fa-info"></i> <%= _t("chapters.info") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</section>
