<section>
  <div class="container surah-actions overflow-auto mt-4 mt-md-0 scrolling-wrapper">
    <ul class=" d-flex flex-row flex-nowrap list-inline mb-0" id="surah-actions">
      <li class="list-inline-item d-flex align-items-center" id="reciter-dropdown">
        <i class="fa fa-microphone-alt text-info lines-heights"></i>
        <span class="text-muted text-nowrap"><%= _t('settings.reciters') %></span>
        <select id="reciter-dropdown-menu" data-placeholder="<%= t('settings.reciters') %>" data-controller="select2">
          <% recitations.each do |recitation| %>
            <option value="<%= recitation.id %>">
              <%= recitation.reciter_name %>
            </option>
          <% end %>
        </select>
      </li>

      <li class="list-inline-item d-flex align-items-center translation-li" id="translation-dropdown">
        <i class="fa fa-columns lines-heights text-info"></i>
        <span class="text-muted text-nowrap"><%= _t('settings.translations') %></span>

        <select id="translations" data-placeholder="<%= t('settings.translations') %>" data-controller="select2" multiple data-multiple="true">
          <% ordered_translations.each do |language, list| %>
            <optgroup label="<%= language.humanize %>">
              <% list.each do |trans| %>
                <option value="<%= trans[0] %>">
                  <%= trans[1] %>
                </option>
              <% end %>
            </optgroup>
          <% end %>
        </select>
      </li>

      <li class="list-inline-item d-flex align-items-center text-nowrap " id="tooltip">
        <i class="fa fa-comment-alt text-info lines-heights"></i>
        <span class="text-muted text-nowrap ml-1"><%= _t('settings.tooltip.label') %></span>
        <select class="p-2 rounded bg-light border-info text-info" id="tooltip-dropdown" placeholder="<%= _t('settings.tooltip.label') %>">
          <option value="translation">
            <%= _t('settings.tooltip.translation') %>
          </option>
          <option value="transliteration">
            <%= _t('settings.tooltip.transliteration') %>
          </option>
        </select>
      </li>

      <li class='list-inline-item border-left d-flex align-items-center' id="arabic-font" data-target=".word">
        <i class="fa fa-text-width text-info lines-heights"></i>
        <%= _t('settings.font_size.arabic') %>

        <a href="" class="font-size increase">+</a>
        <a href="" class="font-size decrease">-</a>
      </li>

      <li class='list-inline-item d-flex align-items-center' id="translation-font" data-target=".translation">
        <%= _t('settings.font_size.translation') %>
        <a href="" class="font-size increase">+</a>
        <a href="" class="font-size decrease">-</a>
      </li>

      <li class="list-inline-item border-left d-flex align-items-center">
        <%= link_to url_for(reading: !@presenter.reading_mode?), id: 'toggle-readingmode', class: "d-flex align-items-center" do %>
          <span class="fa fa-book text-info lines-heights"></span>
          <%= _t('settings.reading') %>
        <% end %>
      </li>

      <li class="list-inline-item d-flex align-items-center">
        <a id="toggle-nightmode" class="d-flex align-items-center text-nowrap">
          <i class="fa fa-lightbulb text-info lines-heights"></i>
          <%= _t('settings.night_mode.label') %>
        </a>
      </li>

      <li class="list-inline-item d-flex align-items-center">
        <a id="reset-setting" class="fa fa-times-circle text-info lines-heights" rel="tooltip" data-toggle="tooltip" title="<%= t('settings.reset') %>"></a>
      </li>

      <li class="list-inline-item d-flex align-items-center">
        <%= link_to chapter_info_path(@presenter.chapter), remote: true, data: {disable_with: spinning_loader}, class: "d-flex align-items-center text-nowrap" do %>
          <i class="fa fa-info-circle text-info lines-heights"></i>
          <%= _t("chapters.info") %>
        <% end %>
      </li>
    </ul>
  </div>
</section>
