<section class="surah-actions navbar-nav-scroll">
  <div class="container">
    <ul class="navbar-nav flex-row" id="surah-actions">
      <li class="nav-item dropdown" id="reciters">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="reciter-dropdown">
          <i class="fa fa-mic"></i>
          <%= _t('settings.reciters') %>
        </a>

        <div class="dropdown-menu keep-open single" aria-labelledby="reciter-dropdown">
          <div class="dropdown-item"><%= _t('settings.tooltip.translation') %></div>
          <div class="dropdown-item"><%= _t('settings.tooltip.transliteration') %></div>
        </div>
      </li>

      <li class="nav-item dropdown"  id="translation-dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-list"></i>  <%= _t('settings.translations') %>
        </a>

        <div class="dropdown-menu keep-open" id='translation-dropdown-menu' aria-labelledby="translation-dropdown">
          <% ordered_translations.each do |language, list| %>

            <% list.each do |trans| %>
              <div class="dropdown-item" data-translation="<%= trans[0] %>">
                <%= trans[1] %>
              </div>
            <% end %>
            <div class="dropdown-divider"></div>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown" id="tooltip">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="tooltip-dropdown">
          <i class="fa fa-commenting-o"></i>
          <%= _t('settings.tooltip.label') %>
        </a>

        <div class="dropdown-menu keep-open" aria-labelledby="tooltip-dropdown">
          <div class="dropdown-item word-tooltip" data-tooltip="translation">
            <%= _t('settings.tooltip.translation') %>
          </div>

          <div class="dropdown-item word-tooltip" data-tooltip="transliteration">
            <%= _t('settings.tooltip.transliteration') %>
          </div>
        </div>
      </li>

      <li class='nav-item border-left' id="arabic-font" data-target=".word">
        <i class="fa fa-text-width"></i>
        <%= _t('settings.font_size.arabic') %>

        <a href="" class="font-size increase">+</a>
        <a href="" class="font-size decrease">-</a>
      </li>

      <li class='nav-item' id="translation-font" data-target=".translation">
        <%= _t('settings.font_size.translation') %>
        <a href="" class="font-size increase">+</a>
        <a href="" class="font-size decrease">-</a>
      </li>

      <li class="nav-item border-left">
        <a id="toggle-readingmode" class="fa fa-book"><%= _t('settings.reading')%></a>
      </li>

      <li class="nav-item">
        <a id="toggle-nightmode"
           class="fa fa-lightbulb-1"
           rel="tooltip"
           title="<%= t('settings.night_mode.night_tip') %>"
           day="<%= t('settings.night_mode.day_tip') %>"
           night="<%= t('settings.night_mode.night_tip') %>"
           title="<%= t('settings.night_mode.night_tip') %>"
        ><%= _t('settings.night_mode.label') %></a>
      </li>

      <li class="nav-item">
        <a id="reset-setting" class="fa fa-close" rel="tooltip" data-toggle="tooltip" title="<%= t('settings.reset') %>"></a>
      </li>

      <li class="nav-item">
        <%= link_to chapter_info_path(@presenter.chapter), remote: true, data: {disable_with: spinning_loader} do %>
          <i class="fa fa-info"></i> <%= _t("chapters.info") %>
        <% end %>
      </li>
    </ul>
  </div>
</section>
