<div class="top-section">
  <div class="container">
    <div class="logo-wrap">
      <%= image_tag "logo-lg-w.png", class: 'img-fluid' %>
    </div>

    <div class="banner">
      <h1>The Noble Quran</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>

    <%= render 'shared/search_form' %>

    <div class="popular-search">
      <ul>
        <li>Popular Search</li>
        <li>
          <%= link_to 'Yaseen', '#', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to 'Surah Al Mulk', '#', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to 'Surah Al Mulk', '#', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to 'Ayatul Kursi', '#', class: 'btn btn-outline-primary' %>
        </li>
      </ul>
    </div>
  </div>
</div>