<div class="top-section">
  <div class="container">
    <div class="logo-wrap">
      <%= lazy_image_tag 'media/images/logo-lg-w.png', class: 'img-fluid', alt: 'Quran.com logo' %>
    </div>

    <div class="banner">
      <h1><%= _t('noble_quran') %></h1>
    </div>

    <%= render 'shared/search_form', expanded: false %>

    <div class="popular-search">
      <p>
        <%= _t('search.popular') %>
      </p>

      <ul class="scrolled-section">
        <% popular_searches.each do |poplar_search| %>
          <li>
            <%= link_to poplar_search[1], poplar_search[0], class: 'btn btn-outline-primary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
