<div class="top-section">
  <div class="container">
    <div class="logo-wrap">
      <%= image_tag "logo-lg-w.png", class: 'img-fluid' %>
    </div>

    <div class="banner">
      <h1><%= _t('noble_quran') %></h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>

    <%= render 'shared/search_form' %>

    <div class="popular-search scrolled-section">
      <ul>
        <li><%= _t('search.popular') %></li>
        <li>
          <%= link_to _t('search.yaseen'), '/36', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.al_mulk'), '/67', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.ar_rahman'), '/55', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.ayatul_kursi'), '/ayatul-kursi', class: 'btn btn-outline-primary' %>
        </li>
      </ul>
    </div>
  </div>
</div>