<div class="top-section">
  <div class="container">
    <div class="logo-wrap">
      <%= image_tag "logo-lg-w.png", class: 'img-fluid', alt: 'Quran.com logo' %>
    </div>

    <div class="banner">
      <h1><%= _t('noble_quran') %></h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>

    <%= render 'shared/search_form' %>

    <div class="popular-search">
      <p>
        <%= _t('search.popular') %>
      </p>

      <ul class="scrolled-section">
        <li>
          <%= link_to _t('search.ayatul_kursi'), '/ayatul-kursi', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.yaseen'), '/surah-ya-sin', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.al_mulk'), '/surah-al-mulk', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.ar_rahman'), '/surah-ar-rahman', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.al_waqiah'), '/surah-al-waqiah', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.al_kahf'), '/surah-al-kahf', class: 'btn btn-outline-primary' %>
        </li>

        <li>
          <%= link_to _t('search.al_muzammil'), '/surah-al-muzzammil', class: 'btn btn-outline-primary' %>
        </li>
      </ul>
    </div>
  </div>
</div>
