<div class="text-muted mt-5 <%= translation.language_name %>"
     id="<%= dom_id translation %>"
     data-controller="translation">
  <span class="d-block text-primary ff-b h5"><%= translation.resource_name %></span>
  <%= translation.text.html_safe %>

  <div id="<%= dom_id translation %>_footnotes"></div>
</div>
