<div class="txt <%= translation.language_name %>" id="<%= dom_id translation %>" data-controller="translation">
  <span class="resource"><%= translation.resource_name %></span>
  <%= translation.text.html_safe %>

  <div id="<%= dom_id translation %>_footnotes"></div>
</div>
