<div class="text-muted mt-5 mb-2 <%= translation.language_name %>"
     id="<%= dom_id translation %>"
     data-controller="translation">

  <%= translation.text.html_safe %>

  <small class="d-block resource"> <%= translation.resource_name %></small>
  <div id="<%= dom_id(translation) %>_footnotes"></div>
</div>
