<div class="translation-section tab-pane fade <%='show active' if 'translation' == @presenter.active_tab%>"
     id="translation-section"
     data-tab-group="chapter-tabs">

  <% if @presenter.show_bismillah? %>
    <%= render 'bismillah' %>
  <% end %>

  <div id="verses-translation"
       class='verses-wrapper'
       data-controller="infinite-page word-player"
       data-items-container="#translation-verses">
    <div id="translation-verses" class='verses'>
      <% if 'translation' == @presenter.active_tab %>
        <%= render 'verses' %>
      <% else %>
        <%= render_async @presenter.translation_view_path, lazy_load: {root: '#translation-section'}, success_event: 'lazy:loaded' do %>
          <div class="text-center text--medium  p-3">
            <%= loading_spinner %>
          </div>
        <% end.html_safe %>
      <% end %>
    </div>
  </div>
</div>
