<% verses = @presenter.paginate %>

<%= render 'fonts', verses: verses %>

<% if @presenter.reading_mode? %>
  <% pages = verses.group_by(&:page_number) %>
  <%= render partial: 'page', collection: pages, as: :verses %>
<% else %>
  <%= render partial: 'verse', collection: verses, as: :verse %>
<% end %>

<div class="text-center" id="verses_pagination" data-url="<%= range_path(@presenter.chapter.id, @presenter.range) %>">
  <% if @presenter.next_page %>
    <%= chapter_next_page_link %>
  <% end %>

  <% if @presenter.continue? %>
    <%= link_to chapter_path(@presenter.chapter), class: 'btn btn-outline-primary' do %>
      <%= _t('chapters.read_full') %>
    <% end %>

    <%= link_to @presenter.continue_range, class: 'btn btn-outline-primary' do %>
      <%= _t('chapters.continue') %> <i class="fa-angle-down"></i>
    <% end %>
  <% else %>
    <%= link_to chapter_path(@presenter.chapter.chapter_number - 1), class: 'btn btn-outline-primary' do %>
      <i class="fa-angle-left"></i> <%= _t('chapters.previous') %>
    <% end if @presenter.previous_surah? %>

    <%= link_to chapter_path(@presenter.chapter), class: 'btn btn-outline-primary mt-4' do %>
      <%= _t('chapters.go_to_beginning') %> <i class="fa-angle-up"></i>
    <% end %>

    <%= link_to chapter_path(@presenter.chapter.chapter_number + 1), class: 'btn btn-outline-primary mt-4' do %>
      <%= _t('chapters.next') %><i class="fa-angle-right"></i>
    <% end if @presenter.next_surah? %>
  <% end %>
</div>
