<div class="verse" id="<%= verse.id %>" data-verse-number="<%= verse.verse_number %>" data-controller="verse" data-key="<%= verse.verse_key %>">
  <div class="row">
    <div class="col-2 verse-actions text-center">
      <div class="actions">
        <a class="play play-verse d-flex align-items-center mx-auto">
          <i class="fa fa-play-solid d-flex ml-2 align-items-center"></i>
        </a>

        <span>
          <%= link_to verse.verse_key, range_path(@presenter.chapter.id, verse.verse_number), target: :blank %>
         </span>
      </div>

      <% if @presenter.show_verse_actions? %>
        <% unless @presenter.render_translations? %>
          <div class="verse-actions">
            <a class="fa fa-copy copy" data-toggle="tooltip" data-placement="left" title="<%= t('action.copy.label') %>" done="<%= t('action.copy.done') %>"></a>
            <a class="fa fa-archive fs-xl" data-toggle="tooltip" data-placement="left" title="<%= t('action.tafsir.label', default: 'Tafsir') %>" data-controller="ajax-modal" data-url="<%= verse_tafsirs_path(verse.id) %>"></a>
            <a href="#" class="fa fa-share-alt" data-toggle="tooltip" data-placement="left" title="<%= t('action.share', default: 'Share ayah') %>" data-controller="ajax-modal" data-url="<%= share_verse_path(verse.id) %>"></a>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-10">
      <div class="arabic">
        <%= render partial: 'chapters/word', collection: verse.words %>
      </div>
    </div>
  </div>

  <div class="row translations">
    <div class="col-2 text-center">
      <% if @presenter.render_translations? && @presenter.show_verse_actions? %>
        <div class="verse-actions">
          <a class="fa fa-copy copy" data-toggle="tooltip" data-placement="left" title="<%= t('action.copy.label') %>" done="<%= t('action.copy.done') %>"></a>
          <a class="fa fa-archive fs-xl" data-toggle="tooltip" data-placement="left" title="<%= t('action.tafsir.label', default: 'Tafsir') %>" data-controller="ajax-modal" data-url="<%= select_tafsirs_verse_path(verse.id) %>"></a>
          <a href="#" class="fa fa-share-alt" data-toggle="tooltip" data-placement="left" title="<%= t('action.share', default: 'Share ayah') %>" data-controller="ajax-modal" data-url="<%= share_verse_path(verse.id) %>"></a>
        </div>
      <% end %>
    </div>

    <div class="col-10">
      <div class="translation">
        <% if @presenter.render_translations? %>
          <%= render partial: 'translation', collection: @presenter.load_translations(verse), as: :translation %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-end row-border">
  <div class="col-md-11">
    <hr class="hr-border">
  </div>
</div>
