<div class="verse" id="<%= verse.id %>" data-verse-number="<%= verse.verse_number %>" data-controller="verse">
  <div class="row">
    <div class="col-1 verse-actions">
      <div class="actions">
        <a class="play play-verse d-flex justify-content-center align-items-center">
          <i class="fa fa-play1"></i>
        </a>

        <span>
          <%= link_to verse.verse_key, range_path(@presenter.chapter.id, verse.verse_number), target: :blank %>
         </span>
      </div>

      <% unless @presenter.render_translations? %>
        <div class="verse-actions">
          <a class="fa fa-docs copy" data-toggle="tooltip" data-placement="left" title="<%= t('action.copy.label') %>" done="<%= t('action.copy.done') %>"></a>
          <a href="#" class="fa fa-share" data-toggle="tooltip" data-placement="left" title="<%= t('action.share') %>"></a>
        </div>
      <% end %>
    </div>

    <div class="col-11">
      <div class="arabic">
        <%= render partial: 'word', collection: verse.words %>
        <!--<span class="ayah-number"><%#= verse.verse_number %></span>-->
      </div>
    </div>
  </div>

  <div class="row translations">
    <div class="col-1">
      <% if @presenter.render_translations? %>
        <div class="verse-actions">
          <a class="fa fa-copy copy" data-toggle="tooltip" data-placement="left" title="<%= t('action.copy.label') %>" done="<%= t('action.copy.done') %>"></a>
          <a href="#" class="fa fa-share-alt" data-toggle="tooltip" data-placement="left" title="<%= t('action.share') %>"></a>
        </div>
      <% end %>
    </div>

    <div class="col-11">
      <div class="translation">
        <% if @presenter.render_translations? %>
          <%= render partial: 'translation', collection: @presenter.load_translations(verse), as: :translation %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-end row-border">
  <div class="col-md-11">
    <hr class="hr-border">
  </div>
</div>
