<div class="verse">
  <div class="row">
    <div class="col-md-2">
      <div class="actions">
        <a href="#" class="play">
          <i class="fa fa-play"></i>
        </a>
        <span><%= link_to verse.verse_key, range_path(params[:id], verse.verse_number) %></span>
      </div>
    </div>

    <div class="col-md-10">
      <div class="arabic">
        <p>
          <% verse.words.each do |w| %>
            <span data-toggle="tooltip" data-placement="top" title="<%= w.translation&.text %>" data-audio="<%= w.location %>" class="word p<%= w.page_number %>-v1"><%= w.code.html_safe %> </span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="row second-row">
    <div class="col-md-1">
      <div class="icon-col-left">
        <a href="#" class="fa fa-bookmark-empty-1"></a>
        <a href="#" class="fa fa-edit-1"></a>
        <a href="#_" class="fa fa-share" data-toggle="tooltip" data-placement="left" title="Share"></a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="translation">
        <small>
          <a href="#"><i class="fa fa-play"></i> Watch lecture by Bayyinah</a></small>

        <%= render partial: 'translation', collection: verse.translations, as: :translation %>
      </div>
    </div>

    <!--<div class="col-md-1">
      <div class="icon-col-right"> <a href="#" class="fa fa-file-text-o"></a> <a href="#" class="fa fa-file-text-o"></a> <a href="#" class="report">REPORT</a> </div>
    </div>-->
  </div>
</div>

<div class="row d-flex justify-content-end row-border">
  <div class="col-md-11">
    <hr class="hr-border">
  </div>
</div>