<div class="verse" id="<%= verse.id %>">
  <div class="row">
    <div class="col-md-2 verse-actions">
      <div class="actions">
        <a class="play play-verse">
          <i class="fa fa-play"></i>
        </a>

        <span>
          <%= link_to verse.verse_key, range_path(@presenter.chapter.id, verse.verse_number), target: :blank %>
         </span>
      </div>

      <% unless @presenter.render_translations? %>
        <div class="verse-actions">
          <a class="fa fa-docs copy" data-toggle="tooltip" data-placement="left" title="<%= t('action.copy.label') %>" done="<%= t('action.copy.done') %>"></a>
          <a href="#" class="fa fa-share" data-toggle="tooltip" data-placement="left" title="<%= t('action.share') %>"></a>
        </div>
      <% end %>
    </div>

    <div class="col-md-10">
      <div class="arabic">
        <% verse.words.each do |w| %>
            <span class="word" id="w-<%= w.id %>" data-local='<%= w.word_translation&.language_name %>' data-id=<%= w.id %> data-audio="<%= w.audio_url %>" data-t="<%= w.word_translation&.text %>" data-tr="<%= w.transliteration&.text %>" data-position="<%= w.position %>">
              <span class="glyph p<%= w.page_number %>-v1"><%= w.code.html_safe %></span>
              <span class="text"><%= w.text_madani %> </span>
            </span>
        <% end %>
        <span class="ayah-number"><%= verse.verse_number %></span>
      </div>
    </div>
  </div>

  <div class="row translations">
    <div class="col-md-1">
      <% if @presenter.render_translations? %>
        <div class="verse-actions">
          <a class="fa fa-docs copy" data-toggle="tooltip" data-placement="left" title="<%= t('action.copy.label') %>" done="<%= t('action.copy.done') %>"></a>
          <a href="#" class="fa fa-share" data-toggle="tooltip" data-placement="left" title="<%= t('action.share')%>"></a>
        </div>
      <% end %>
    </div>
    <div class="col-md-11">
      <div class="translation">
        <% if media = VerseMedia.get_media(verse.id) %>
          <small>
            <a class="media" data-media="<%= media %>"><i class="fa fa-play"></i> <%= _t('audio_files.media', from: 'Bayyinah') %>
            </a>
          </small>
        <% end %>

        <% if @presenter.render_translations? %>
          <%= render partial: 'translation', collection: @presenter.load_translations(verse), as: :translation %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-end row-border">
  <div class="col-md-11">
    <hr class="hr-border">
  </div>
</div>