<% verses = @presenter.verses %>

<%= render 'reader/qcf_fonts', verses: verses %>
<div id="word-player" data-controller="word-player">
  <% if @presenter.reading_mode? %>
    <%= render partial: 'page', locals: {verses: verses} %>
  <% else %>
    <%= render partial: 'reader/verse', collection: verses, as: :verse %>
  <% end %>
</div>

<div class="reading__buttons flexx-center"
     id="<%= @presenter.reading_mode? ? 'verses-reading' : 'verses-translation' %>_pagination"
     data-url="<%= ayah_range_path(@presenter.chapter.id, @presenter.ayah_range) %>">
  <%= chapter_next_page_link %>

  <% reading = {reading: @presenter.reading_mode?} %>

  <% if @presenter.continue? %>
    <%= link_to chapter_path(@presenter.chapter, reading), class: 'btn btn--lightgrey btn--large btn--icon' do %>
      <%= _t('chapters.read_full') %>
    <% end %>

    <%= link_to @presenter.continue_path, class: 'btn btn--lightgrey btn--large btn--icon' do %>
      <%= _t('chapters.continue') %>
    <% end %>
  <% else %>
    <%= link_to chapter_path(@presenter.chapter.chapter_number - 1, reading), class: 'btn btn--lightgrey btn--large btn--icon' do %>
      <%= _t('chapters.previous') %>
    <% end if @presenter.previous_surah? %>

    <%= link_to chapter_path(@presenter.chapter, reading), class: 'btn btn--lightgrey btn--large btn--icon' do %>
      <%= _t('chapters.go_to_beginning') %>
    <% end %>

    <%= link_to chapter_path(@presenter.chapter.chapter_number + 1, reading), class: 'btn btn--lightgrey btn--large btn--icon' do %>
      <%= _t('chapters.next') %>
    <% end if @presenter.next_surah? %>
  <% end %>
</div>
