<% verses = local_assigns[:verses] || @presenter.paginate %>

<%= render 'fonts', verses: verses if @presenter.showing_qcf_font?%>

<% if @presenter.reading_mode? %>
  <% pages = verses.group_by(&:page_number) %>
  <%= render partial: 'page', collection: pages, as: :verses %>
<% else %>
  <div data-controller="segment-player" id="segment-player">
    <%= render partial: 'verse', collection: verses, as: :verse %>
  </div>
<% end %>

<div class="text-center my-3 pagination" id="<%= @presenter.reading_mode? ? 'verses-reading' : 'verses-translation' %>_pagination" data-url="<%= range_path(@presenter.chapter.id, @presenter.range) %>">
  <% if @presenter.next_page %>
    <%= chapter_next_page_link %>
  <% end %>

  <% reading = {reading: @presenter.reading_mode?} %>

  <% if @presenter.continue? %>
    <%= link_to chapter_path(@presenter.chapter, reading), class: 'btn btn-outline-primary mt-3 mb-3' do %>
      <%= _t('chapters.read_full') %>
    <% end %>

    <%= link_to @presenter.continue_range, class: 'btn btn-outline-primary mt-3 mb-3' do %>
      <%= _t('chapters.continue') %>
    <% end %>
  <% else %>
    <%= link_to chapter_path(@presenter.chapter.chapter_number - 1, reading), class: 'btn btn-outline-primary mt-3 mb-3' do %>
      <%= _t('chapters.previous') %>
    <% end if @presenter.previous_surah? %>

    <%= link_to chapter_path(@presenter.chapter, reading), class: 'btn btn-outline-primary mt-3 mb-3' do %>
      <%= _t('chapters.go_to_beginning') %>
    <% end %>

    <%= link_to chapter_path(@presenter.chapter.chapter_number + 1, reading), class: 'btn btn-outline-primary mt-3 mb-3' do %>
      <%= _t('chapters.next') %>
    <% end if @presenter.next_surah? %>
  <% end %>
</div>
