<div class="verse" id="<%= verse.id %>">
  <div class="row">
    <div class="col-md-2">
      <div class="actions">
        <a class="play play-verse">
          <i class="fa fa-play"></i>
        </a>

        <span>
         <a href="#_" class="fa fa-clipboard" data-toggle="tooltip" data-placement="left" title="Copy ayah"></a>
          <%= link_to verse.verse_key, range_path(@presenter.chapter.id, verse.verse_number), target: :blank %>
         </span>
      </div>
    </div>

    <div class="col-md-10">
      <div class="arabic">
        <p>
          <% verse.words.each do |w| %>
            <span data-placement="top" data-id=<%= w.id %> data-verse=<%= w.verse_id %> data-audio="<%= w.location %>" class="word p<%= w.page_number %>-v1" id="w-<%= w.id %>"><%= w.code.html_safe %> </span>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <div class="verse-actions">
        <a href="#" class="fa fa-bookmark-empty-1" data-toggle="tooltip" data-placement="left" title="Bookmark this ayah"></a>
        <a href="#" class="fa fa-edit-1" data-toggle="tooltip" data-placement="left" title="Add note"></a>
        <a href="#_" class="fa fa-share" data-toggle="tooltip" data-placement="left" title="Share"></a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="translation">
        <% if media = VerseMedia.get_media(verse.id) %>
          <small>
            <a class="media" data-media="<%= media %>"><i class="fa fa-play"></i> <%= _t('verses.media', from: 'Bayyinah') %></a>
          </small>
        <% end %>

        <%= render partial: 'translation', collection: verse.translations, as: :translation %>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-end row-border">
  <div class="col-md-11">
    <hr class="hr-border">
  </div>
</div>