<span class="<%= word.char_type_name %> w" id="w-<%= word.id %>" data-local='<%= word.word_translation&.language_name %>' data-audio="<%= word.audio_url %>" data-t="<%= word.word_translation&.text %>" data-tr="<%= word.transliteration&.text %>" data-position="<%= word.position %>" data-key="<%= word.location %>" data-controller="word">
  <span class="p<%= word.page_number %>-<%= @presenter.font %> <%= @presenter.font %>">
    <%= word.send(@presenter.font_method).to_s.html_safe %>
  </span>
</span>
