<div id="chapter-page">
  <% content_for :header do %>
    <div class="col-7 d-flex align-items-center justify-content-md-between justify-content-end chapter-header">
      <div class="rounded-search d-flex justify-content-end col-5">
        <%= render 'shared/search_form', expanded: true, mobile_expand: true %>
      </div>
      <div class="d-md-block d-none">
        <label class="switch my-0 mx-2">
          <input type="checkbox">
          <span class="slider round fa"></span>
        </label>
      </div>
    </div>
  <% end %>

  <%= render 'surah_actions' %>
  <div class="tab-content container" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pill-translation" role="tabpanel" aria-labelledby="pill-translation-tab">
      <%= render 'verses' %>
      <div id="chapter-info" class="mt-4"></div>
      <% if @presenter.show_bismillah? %>
        <%= render 'bismillah' %>
      <% end %>
      <div id="verses" data-chapter-id="<%= @presenter.chapter.id %>" data-total-verses="<%= @presenter.chapter.verses_count %>" data-controller="slim-scroller infinite-page chapter">
        <%= render 'verses' %>
      </div>
    </div>
    <div class="tab-pane fade" id="pill-reading" role="tabpanel" aria-labelledby="pill-reading-tab">Reading Content</div>
    <div class="tab-pane fade" id="pill-surha" role="tabpanel" aria-labelledby="pill-surha-tab">Surah Info</div>
  </div>

  <%= render 'player' %>

</div>
