<% content_for :header do %>
  <div class="head-center">
    <%= render 'shared/search_form' %>
  </div>
<% end %>

<%= render "font" %>

<%= render "surah_actions" %>

<div id="chapter-info">

</div>

<div class="container">
  <% if @presenter.show_bismillah? %>
    <%= render "bismillah" %>
<% end %>
  <div id="verses">
    <%= render "verses" %>
  </div>
</div>
