<% content_for :menus do %>
  <div class="menus__tab hidden" data-controller="menu" data-trigger="#open-settings" data-menu=".settings">
    <%= render_async "/settings?chapter=#{@presenter.chapter.id}", lazy_load: {root: '#right-sidebar'} do %>
      <p class="text-center p-3">
        <%= loading_spinner %>
      </p>
    <% end.html_safe %>
  </div>
<%end%>
<%= render 'surah_actions' %>

<div class="content">
  <div class="container" id="chapter-tabs" data-chapter-id="<%= @presenter.chapter.id %>" data-total-verses="<%= @presenter.chapter.verses_count %>" data-controller="chapter">
    <div class="translation-section tab-pane show" id="translation-section" data-tab-group="chapter-tabs">
      <% if @presenter.show_bismillah? %>
        <%= render 'bismillah' %>
      <% end %>
      
      <div id="verses-translation" class='verses' data-controller="infinite-page" data-items-container="#verses-translation #verses">
        <div id="verses">
          <% if 'translation' == @presenter.active_tab %>
            <%= render 'verses' %>
          <% else %>
            <%= render_async range_path(range: @presenter.range, reading: false), lazy_load: {root: '#translation-section'} do %>
              <p class="text-center p-3">
                <%= loading_spinner %>
              </p>
            <% end.html_safe %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="reading-section tab-pane" id="reading-section" data-tab-group="chapter-tabs">
      <div class="reading">
        <div class="reading__content">
          <% if @presenter.show_bismillah? %>
            <%= render 'bismillah' %>
          <% end %>
          
          <div id="verses-reading" class='verses' data-controller="infinite-page" data-items-container="#verses-reading #verses">
            <div id='verses' class="pages">
              <% if 'reading' == @presenter.active_tab %>
                <%= render 'verses' %>
              <% else %>
                <%= render_async range_path(range: @presenter.range, reading: true), lazy_load: {root: '#reading-section'} do %>
                  <p class="text-center p-3">
                    <%= loading_spinner %>
                  </p>
                <% end.html_safe %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="reading__buttons">
        </div>
      </div>
    </div>
    
    <div class="info-section" id="info-section" data-tab-group="chapter-tabs">
      <%= render_async chapter_info_path(@presenter.chapter), lazy_load: {root: '#pill-info'} do %>
        <p class="text-center p-3">
          <%= loading_spinner %>
        </p>
      <% end.html_safe %>
    </div>
    
  </div>
</div>

<%= render 'player' %>