<% content_for :menus do %>
  <div class="menus__tab hidden side-menu" data-controller="menu" data-trigger="#open-settings" data-menu=".settings" id="right-sidebar">
    <%= render_async "/settings?chapter=#{@presenter.chapter.id}&reading=#{'reading' == @presenter.active_tab}",
                     lazy_load: {root: '#right-sidebar'}, html_options: {class: 'settings-async-node'} do %>
      <div class="text-center text--medium p-3">
        <%= loading_spinner %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'actions' %>

<div class="content">
  <div class="container"
       id="reader"
       data-id="<%= @presenter.chapter.id %>"
       data-total-verses="<%= @presenter.chapter.verses_count %>"
       data-controller="chapter">

    <%= render 'translations_view' %>
    <%= render 'reading_view' %>

    <div class="info-section tab-pane fade" id="info-section"
         data-tab-group="chapter-tabs">
      <div class="verses-wrapper">
        <%= render_async chapter_info_path(@presenter.chapter), lazy_load: {root: '#pill-info'} do %>
          <div class="text-center text--medium  p-3">
            <%= loading_spinner %>
          </div>
        <% end.html_safe %>
      </div>
    </div>
  </div>
</div>

<%= render 'reader/player' %>
<%= render 'reader/segment_player' %>
