<div id="right-sidebar" class="sidebar slide-right border-left d-none">
  <div class="sidebar-head d-flex align-items-center justify-content-between">
    <i class="fa fa-times-circle close-sidebar close-right-sidebar"></i>

    <h4 class="mb-0 ff-b"><%= _t('settings.label') %></h4>
  </div>

  <div class="bg-faded outline" style="margin-top: -7px">
    <!--<a class="text-white"><%= _t('settings.reset') %></a>-->

    <%= render_async '/settings', lazy_load: true, lazy_load: {root: '#right-sidebar'} do %>
      <p class="text-center p-3">
        <%= loading_spinner %>
      </p>
    <% end.html_safe %>
  </div>
</div>

<div class="slide-backdrop close-right-sidebar">
</div>

<div id="chapter-page">
  <% content_for :header do %>
    <div class="col-5 align-items-center chapter-header">
      <div class="rounded-search">
        <%= render 'shared/search_form' %>
      </div>
    </div>
  <% end %>

  <%= render 'surah_actions' %>

  <div
    class="tab-content container"
    id="chapter-tabs"
    data-chapter-id="<%= @presenter.chapter.id %>"
    data-total-verses="<%= @presenter.chapter.verses_count %>"
    data-controller="chapter"
  >
    <div class="tab-pane fade <%= 'show active' if 'translation' == @presenter.active_tab %>" id="pill-translation" role="tabpanel" aria-labelledby="pill-translation-tab">
      <% if @presenter.show_bismillah? %>
        <%= render 'bismillah' %>
      <% end %>

      <div id="verses" class='verses' data-controller="infinite-page">
        <% if 'translation' == @presenter.active_tab %>
          <%= render 'verses' %>
        <% else %>
          <%= render_async range_path(range: @presenter.range, reading: false), lazy_load: true, lazy_load: {root: '#pill-translation'} do %>
            <p class="text-center p-3">
              <%= loading_spinner %>
            </p>
          <% end.html_safe %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade <%= 'show active' if 'reading' == @presenter.active_tab %>" id="pill-reading" role="tabpanel" aria-labelledby="pill-reading-tab">
      <% if @presenter.show_bismillah? %>
        <%= render 'bismillah' %>
      <% end %>

      <div id="page" class='verses' data-controller="infinite-page">
        <% if 'reading' == @presenter.active_tab %>
          <%= render 'verses' %>
        <% else %>
          <%= render_async range_path(range: @presenter.range, reading: true), lazy_load: true, lazy_load: {root: '#pill-reading'} do %>
            <p class="text-center p-3">
              <%= loading_spinner %>
            </p>
          <% end.html_safe %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="pill-info" role="tabpanel" aria-labelledby="pill-info-tab">
      <%= render_async chapter_info_path(@presenter.chapter), lazy_load: true, lazy_load: {root: '#pill-info'} do %>
        <p class="text-center p-3">
          <%= loading_spinner %>
        </p>
      <% end.html_safe %>
    </div>
  </div>

  <%= render 'player' %>
</div>
