<%
  translations = verse.highlighted_translations
  trans_count = translations.size
  translation_shown = translations.first(2)
%>

<div class="search-item">
  <div>
    <%= link_to verse.verse_key, verse.verse_key, class: 'number' %>
  </div>
  <div class="search-item--results">
    <div class="search-item--ayah">
      <p class="arabic text_uthmani">
        <%= verse.highlighted_text.html_safe %>
      </p>
    </div>

    <% if trans_count > 0 %>
      <% translation_shown.each do |trans| %>
        <div class="search-item--translation">
          <p class="text text--grey text--medium">
            <%= trans[:text].to_s.html_safe %>
          </p>

          <p class="text text--green text--medium">
            <%= trans['resource_name'] %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if trans_count > 2 %>
  <div class="text-center space-b-24">
    <p class="text text--green text--medium">
      Also found in

      <% translations[2...].each do |trans| %>
        <span><%= trans['resource_name'] %></span> /
      <% end %>
    </p>
  </div>
<% end %>
