<section id="chapter-info">
  <div class="container">
    <ul class="d-flex align-items-center">
      <li><h1>Surah <%= @presenter.name_simple %></h1></li>
      <li><%= _t("chapters.verses") %> <span class="info"><%= @presenter.verses_count %></span></li>
      <li><%= _t("chapters.pages") %> <span class="info"><%= @presenter.pages.join('-') %></span></li>
      <li><%= _t("chapters.revelation_place") %> <span class="info"><%= @presenter.revelation_place.humanize %></span>
      </li>
    </ul>

    <div class="surah-info-area">
      <div class="row">
        <div class="col-md-4 order-1">
          <div class="img-col">
            <%= lazy_image_tag "#{@presenter.revelation_place}.jpg", class: 'img-fluid', alt: @presenter.revelation_place %>
          </div>
        </div>

        <div class="col-md-8 order-2">
          <div class="lh-n <%= I18n.locale %>" data-controller="slim-scroller">
            <%= @presenter.info.text.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
