<div class="info-section">
  <div class="page-info">
    <div class="page-info__container">
      <div class="page-info__image">
        <%= image_tag "#{@presenter.revelation_place}.jpg", alt: @presenter.revelation_place %>
      </div>

      <div class="page-info__text">
        <div class="page-info__text__header">
          <div class="part1">
            <p class="text text--black text--xlarge text--semibold">Surah <%= @presenter.name_simple %></p>
          </div>

          <div class="part2">
            <div class="info-header">
              <p class="text text--darkgrey text--medium text--semibold"><%= _t("chapters.verses") %></p>
              <p class="text text--grey text--medium text--regular">
                <%= @presenter.verses_count %>
              </p>
            </div>

            <div class="info-header">
              <p class="text text--darkgrey text--medium text--semibold"><%= _t("chapters.pages") %></p>
              <p class="text text--grey text--medium text--regular">
                <%= @presenter.pages.join('-') %>
              </p>
            </div>

            <div class="info-header">
              <p class="text text--darkgrey text--medium text--semibold"><%= _t("chapters.revelation_place") %></p>
              <p class="text text--grey text--medium text--regular">
                <%= @presenter.revelation_place.humanize %>
              </p>
            </div>
          </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="page-info__content <%= I18n.locale %>" data-controller="chapter-info">
            <%= @presenter.info.text.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>
