<!doctype html>
<html amp lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-04-04" content="Ajcrk411RcpUCQ3ovgC8le4e7Te/1kARZsW5Hd/OCnW6vIHTs5Kcq1PaABs7SzcrtfvT0TIlFh9Vdb5xWi9LiQsAAABSeyJvcmlnaW4iOiJodHRwczovL2FtcGJ5ZXhhbXBsZS5jb206NDQzIiwiZmVhdHVyZSI6IldlYlNoYXJlIiwiZXhwaXJ5IjoxNDkxMzM3MDEwfQ==">

  <script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://www.quran.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.quran.com/search?q={search_term}",
    "query-input": "required name=search_term"
  }
}
  </script>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <style amp-custom>
    <% if Rails.env.development? %>
      <%= Rails.application.assets['amp'].to_s.html_safe %>
    <% else %>
      <%= Rails.application.assets['amp'].to_s.html_safe %>
    <% end %>
  </style>

  <%= favicon_link_tag 'icons/favicon.ico', title: 'Quran.com' %>
  <%= favicon_link_tag 'icons/android-chrome-256x256.png', rel: 'fluid-icon', type: 'image/png', title: 'Quran.com' %>
  <%= favicon_link_tag 'icons/safari-pinned-tab.svg', rel: 'mask-icon', color: 'theme-color', title: 'Quran.com' %>
  <%= favicon_link_tag 'icons/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', title: 'Quran.com' %>

  <%
    set_meta_tags @presenter.open_graph_hash
  %>

  <%= display_meta_tags reverse: true, site: 'Quran.com'%>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-app-banner" src="https://cdn.ampproject.org/v0/amp-app-banner-0.1.js"></script>
</head>
<body>
<amp-app-banner layout="nodisplay" id="demo-app-banner-2134">
  <amp-img src="https://example.com/icon.png"
           width="60" height="51">
  </amp-img>
  <h3>Quran.com</h3>
  <p>Download mobile application</p>
  <div class="actions">
    <button open-button>Get the app</button>
  </div>
</amp-app-banner>

<%= render 'shared/amp_header' %>

<amp-layout layout="responsive">

</amp-layout>

<main>
  <%= yield %>
</main>
</body>
</html>
