<div class="translation__item verse"
     id="<%= verse.verse_key %>"
     data-controller="verse"
     data-key="<%= verse.verse_key %>"
     data-text="<%= verse.text_uthmani %>">
  <div class="ayah--actions">
    <div class="translation__icons">
      <a class="translation__icon ayah-badge-link"
         href="/<%= verse.verse_key %><%= @presenter.params_for_verse_link %>"
         data-controller='track'
         data-name='ayah-key'
         data-value='<%= verse.verse_key %>'
         data-category='ayah-action'>
        <span class="ayah-badge"><%= verse.verse_key %></span>
      </a>

      <a class="translation__icon play"
         data-title="<%= t('action.play') %>"
         data-controller="track"
         data-name='ayah-action'
         data-value='<%= verse.verse_key %>'
         data-category="play">
        <span class="quran-icon icon-play1"></span>
      </a>

      <a class="translation__icon qr"
         href="https://quranreflect.com/<%= "#{verse.chapter_id}" %>/<%= "#{verse.verse_number}" %>?feed=true"
         target="_blank"
         rel="noopener"
         data-controller="track"
         data-name='ayah-action'
         data-category="QuranReflect">
        <i class="quran-icon icon-qr-2" style="font-size: 26px"></i>
      </a>

      <div class="actions-menu">
        <a class="translation__icon"
           id=open-actions
           data-title="Actions"
           data-controller="track"
           data-name='ayah-action'
           data-value='<%= verse.verse_key %>'
           data-category="actions">
          <span class="quran-icon icon-menu"></span>
        </a>

        <div class="actions-wrapper hidden" id=ayah-actions>
          <div class="actions-items">
            <div class="actions-header">
              <p class="text text--darkgrey text--medium text--regular">
                <%= @presenter.verse_actions_heading(verse) %>
              </p>
              <span class="quran-icon icon-x" id=close-actions></span>
            </div>

            <a class="translation__icon quick-copy"
               data-done="<%= t('action.copy.done') %>"
               data-title="<%= t('action.copy.label') %>"
               data-controller="track"
               data-name='ayah-action'
               data-category="copy">
              <i class="quran-icon icon-duplicate"></i>
              <%= _t('action.copy.label') %>
            </a>

            <a class="translation__icon"
               data-controller="ajax-modal"
               data-url="/advance_copy/copy_options<%= @presenter.params_for_copy(verse) %>"
               data-controller="track"
               data-name='ayah-action'>
              <i class="quran-icon icon-copy"></i>
              <%= _t('action.copy.advance', default: 'Copy advanced') %>
            </a>

            <a class="translation__icon"
               data-controller="ajax-modal"
               data-url="<%= select_tafsirs_verse_path(verse.id) %>"
               data-controller="track"
               data-name='ayah-action'
               data-category="tafsir-list">
              <i class="quran-icon icon-book-open"></i>
              <%= _t('action.tafsir.label', default: 'Tafsir') %>
            </a>

            <a class="translation__icon"
               data-controller="ajax-modal"
               data-url="<%= share_verse_path(verse.id) %>"
               data-controller="track"
               data-name='ayah-action'
               data-category="share-list">
              <i class="quran-icon icon-share-2"></i>
              <%= _t('action.share', default: 'Share ayah') %>
            </a>

            <a class="translation__icon"
               href="https://quranreflect.com/<%= "#{verse.chapter_id}" %>/<%= "#{verse.verse_number}" %>?feed=true"
               target="_blank"
               rel="noopener"
               data-controller="track"
               data-name='ayah-action'
               data-category="QuranReflect">
              <i class="quran-icon icon-qr-2"></i>
              QuranReflect
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="translation__text">
    <div class="translation__arabic">
      <div class="arabic <%= @presenter.font_method %>"
           data-verse="<%= verse.verse_key %>">
        <% if @presenter.render_verse_words? %>
          <%= render partial: 'reader/word', collection: verse.words %>
        <% else %>
          <%= verse.send(@presenter.font_method).to_s.html_safe %>
        <% end %>
      </div>
    </div>

    <% if @presenter.render_translations? %>
      <%= render partial: 'reader/translation', collection: verse.translations, as: :translation %>
    <% end %>
  </div>
</div>
<div class="horizontal-line"></div>
